.abonnementen {
  height: 100%;

  mat-nav-list {
    padding-top: 0;

    .mat-button {
      width: 100%;
      padding: 0;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .totaalBedrag {
    color: lightgrey;
    text-align: end;
    padding: 6px 8px 0 0;
  }
}
